* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  min-width: 1600px;
  min-height: 1000px;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #0d0d0d;
  color: #fff;
  width: 100%;
  height: 10%;
}

h1 {
  margin: 0;
  letter-spacing: 0.3rem;
  font-size: 3rem;
}

.headingLetter1 {
  animation: flicker 1.51s infinite;
}

.headingLetter2 {
  animation: flicker 2.21s infinite;
}

.headingLetter3 {
  animation: flicker 3.91s infinite;
}

.headingLetter4 {
  animation: flicker 4.51s infinite;
}

.headingLetter5 {
  animation: flicker 2.1s infinite;
}

.headingLetter6 {
  animation: flicker 1.81s infinite;
}

.headingLetter7 {
  animation: flicker 6.51s infinite;
}

.headingLetter8 {
  animation: flicker 8.91s infinite;
}

.headingLetter9 {
  animation: flicker 2.21s infinite;
}

@keyframes flicker {
  0%,
  48% {
    opacity: 1;
  }
  50%,
  90% {
    opacity: 0;
  }
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2f2f2f;
  /* background: linear-gradient(180deg, #2f2f2f, #0d0d0d); */
  height: 90%;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 36px;
  min-width: 1600px;
  max-width: 1600px;
  min-height: 800px;
  max-height: 800px;
  /* border: 1px solid red; */
}

.gameCard {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  font-size: 1.2rem;
  width: 100px;
  height: 100px;
  border: 1px solid mediumpurple;
  box-shadow: 4px 4px 10px 5px #0d0d0d, -2px -2px 5px 3px mediumpurple;
  border-radius: 5px;
}

.gameCard:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px 5px mediumpurple;
}

.hide {
  display: none;
}
